<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Personal Website</title>
<!-- Liên kết CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<!-- Tiêu đề chính -->
<div class="header">
    PERSONAL WEBSITE FOR CURRICULUM VITAE
</div>

<!-- Các mục thông tin cá nhân -->
<div class="content">

    <!-- GENERAL INFORMATION -->
    <div class="section" onclick="toggleContent('general-info', this)">
        GENERAL INFORMATION <span class="plus">+</span>
        <div id="general-info" class="content-hidden">
            <div class="general-info">
            </div>
        </div>
    </div>

<div class="section" onclick="toggleContent('education',this)">
        EDUCATION <span class="plus">+</span>
        
        <div id="education" class="content-hidden">
            <div class="education">
        <img src="{{ url_for('static', filename='images/logoDUT.jpg') }}" alt="logoDUT" class="avatar1">
        <img src="{{ url_for('static', filename='images/logoCKDUT.jpg') }}" alt="logo-CK-DUT" class="avatar1">
        <img src="{{ url_for('static', filename='images/logoFAST.jpg') }}" alt="logo-FAST" class="avatar1">
        </div>
        <div class="infor-educa">
        <p style="text-align: center; margin-bottom: 35px;"><strong>The University of Da Nang, University of Science and Technology</strong></p>
        <p class="spaceebetween">
            <b><span>PFIEV Automation and Production Engineering</span></b>
            <span><i> 2018 − September 2023</i></span>
        </p>
        <p><i>FAST Faculty of Advanced Science and Technology</i></p>
        <p class="spaceebetween">
            <b><span>Master's Degree in Mechatronics</span></b>
            <span><i>March 2024 − Now</i></span>
        </p>
        <p><i>Faculty of Mechanical Engineering</i></p>
        </div>
        </div>
        </div>
    <!-- EXPERIENCE -->
    <div class="section" onclick="toggleContent('experience', this)">
        EXPERIENCE <span class="plus">+</span>
        <div id="experience" class="content-hidden">
        </div>
    </div>

    <!-- SKILL -->
<div class="section" onclick="toggleContent('skill', this)">
    SKILL <span class="plus">+</span>
    <div id="skill" class="content-hidden">
    </div>
</div>


    <!-- RELEVANT -->
    <div class="section" onclick="toggleContent('relevant', this)">
        RELEVANT <span class="plus">+</span>
        <div id="relevant" class="content-hidden">
        </div>
    </div>

</div> <!-- đóng .content -->

<!-- Footer -->
<div class="footer">
    <img src="https://flagcdn.com/w40/vn.png" alt="Cờ Việt Nam" style="transform: translate(0px, 5px);">
    &nbsp; THINK CREATIVELY. WORK COLLABORATIVELY. STAY DISCIPLINED. 🌟🚀
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html> 

